{% extends "layout.html.twig" %}

{% block title %}Hello world{% endblock %}

{% block content %}
    <a href="{{ path('homepage') }}">Revenir sur la page précédente</a>
    <br>
    Bonjour {{name}}
{% endblock %}
